*{
  margin: 0;
  padding: 0;
  color: rgba(8, 11, 31, 0.174);
}

.fondo_violeta{
  background-color: rgb(170, 145, 182);

}


.link_header{
  color: rgba(8, 11, 31, 0.174);
}

.link_header:hover{
  color: rgb(39, 16, 190);
  font-size: 20px;
}